# Command Line Reference
# https://bazel.build/reference/command-line-reference
import %workspace%/tools/rc/correctness.bazelrc
import %workspace%/tools/rc/performance.bazelrc
import %workspace%/.cpp.bazelrc
import %workspace%/.go.bazelrc
import %workspace%/.debug.bazelrc
import %workspace%/.remote-cache.bazelrc
import %workspace%/.ci.bazelrc

# Startup Options
# https://bazel.build/reference/command-line-reference#startup-options
startup --digest_function=blake3

common --enable_platform_specific_config

# Experimental Flags
common --experimental_isolated_extension_usages

build --jobs=auto

try-import %workspace%/user.bazelrc
